@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



/* -------------------------------------------------------------------- */
:root {
    --custom-property: #F5F5F5;
}
ol, ul {
	list-style: none;
}
html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    line-height:30px;
    background-color: var(--custom-property);
    text-align:left;

   
}
footer{
    background-color: black;
    color: white;
}
.button1{
    background-color: var(--custom-property);
    border: 1px solid #F5F5F5;
    box-sizing: border-box;

/* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 10px;
    gap: 8px;

    width: 50px;
    height: 23px;
    left: 15px;
    top: 2916px;

    border: 1px solid #000000;
    border-radius: 2px;
    white-space:nowrap;
    text-decoration: none;
    
}
.button2{
     background-color: var(--custom-property);
    border: 1px solid #F5F5F5;
}
span{
/* text */
background: #181818;
border-radius: 90px;
width: 5px;
height: 12px;
left: 5px;
top: 2px;



font-weight: 600;
font-size: 10px;
line-height: 12px;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FFFFFF;
}

h1{
font-weight: 600;
font-size: 32px;
line-height: 39px;
/* identical to box height */
letter-spacing: -0.03em;

color: #000000;
}
.T_15{

font-weight: 400;
font-size: 15px;
line-height: 25px;

color: #393939;
}

.art{
font-weight: 600;
font-size: 12px;
line-height: 15px;
text-transform: uppercase;
color: #939393;
}

.artP{
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #000000;
}

.plashka_Price{
    text-decoration: none;
}

.view_all{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 13px 39px;
gap: 8px;


width: 345px;
height: 44px;
left: 15px;
top: 441px;

/* secondary */
background: #393939;
border-radius: 82px;


/* text */

width: 54px;
height: 18px;
font-weight: 600;
font-size: 15px;
line-height: 18px;
letter-spacing: -0.03em;

/* white */
color: var(--custom-property);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
white-space:nowrap;
text-decoration: none;
}
.htwdg{
font-weight: 600;
font-size: 26px;
line-height: 31px;
letter-spacing: -0.03em;
color: #000000;
}

.ulp1{

width: 112px;
height: 22px;
white-space:nowrap;

font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */
letter-spacing: -0.03em;
color: #000000;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
.plashka{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 10px;
gap: 8px;

width: 100px;
height: 23px;
left: 15px;
top: 2916px;

border: 1px solid #000000;
border-radius: 2px;
white-space:nowrap;
text-decoration: none;

font-weight: 600;
font-size: 12px;
line-height: 15px;
/* identical to box height */

letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.steps{
box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 10px;
gap: 8px;

width: 80px;
height: 23px;
left: 15px;
top: 2916px;

border: 1px solid #000000;
border-radius: 2px;
white-space:nowrap;
text-decoration: none;

font-weight: 600;
font-size: 12px;
line-height: 15px;
/* identical to box height */

letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.ulp2{
/* Got to our store and choose the outfits you like */
width: 313px;
height: 24px;

font-weight: 400;
font-size: 14px;
line-height: 169.02%;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
white-space:nowrap;

}
.ula{
/* Got to our store and choose the outfits you like */
font-weight: 400;
font-size: 14px;
line-height: 169.02%;
/* identical to box height, or 24px */

/* secondary */
color: #393939;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.arth{
/* Gounders Natalia Modenova and Daria Shapovalova featured in America's Greatest Disruptors list by Newsweek */
width: 313px;
height: 96px;
left: 16px;
top: 263px;

font-weight: 600;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.03em;

color: #000000;
}

time{
/* 01.05.2022 */
width: 71px;
height: 15px;
left: 16px;
top: 241px;

font-weight: 600;
font-size: 12px;
line-height: 15px;
/* identical to box height */
letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;
}

.readMore{
/* btn */
box-sizing: border-box;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 13px 39px;
gap: 8px;


width: 313px;
height: 46px;
left: 16px;
top: 380px;

/* tertiary */
border: 1px solid #939393;
border-radius: 82px;


/* Read more */

width: 74px;
height: 18px;


font-weight: 600;
font-size: 15px;
line-height: 18px;
letter-spacing: -0.03em;

/* secondary */
color: #393939;
white-space:nowrap;
text-decoration: none;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.about_v{
/* About Verseser */
width: 186px;
height: 31px;
left: 15px;
top: 4411px;


font-weight: 600;
font-weight: bolder;
font-size: 26px;
line-height: 31px;
letter-spacing: -0.03em;

color: #000000;
}

.about_v_p{
/* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. */
width: 345px;
height: 216px;
left: 15px;
top: 4448px;

font-weight: 400;
font-size: 14px;
line-height: 169.02%;
/* or 24px */

/* secondary */
color: #393939;
}

.foot{
    color: white;
    text-decoration: none;
}

.footSurk{
    color: white;
}

.ending{
    color: grey;
}

.logo {
    display: block;
    margin: 0 0;
    width: 200px;
  }

.twit{
  /* Vector */

    
    left: 6.25%;
    right: 6.25%;
    top: 15.68%;
    bottom: 13.19%;

/* tertiary */
    background: #939393;
}
.WhiteInst{
    
    background: #FFFFFF;
}

